{% extends "base_generic.html" %}

{% block title %}
    <title>Books | Local Library</title>
{% endblock %}

{% block content %}
    <h1>Books</h1>
    <p>The library has the following {{ num_books}} books available:</p>
    <ul>
        {% for book in books %}
          <li>
            <em>
              <a href="{% url 'book-detail' book.pk %}">
                {{ book.title }}
              </a>
            </em> 
            by {{ book.author }}
          </li>
        {% endfor %}
      </ul>
{% endblock %}